# Firebase Configuration
VITE_FIREBASE_API_KEY=y"AIzaSyDZojyK3kH5dTRNS9OLZMPdSb0g1bQu0a8",
VITE_FIREBASE_AUTH_DOMAIN="forge-ai-9e40c.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="forge-ai-9e40c",
VITE_FIREBASE_STORAGE_BUCKET="forge-ai-9e40c.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="74665291201",
VITE_FIREBASE_APP_ID="1:74665291201:web:d6e41ba019c9d753d85340",

# Backend API Configuration
VITE_API_URL=http://localhost:5001
